<div class="input-group">
    <select class="form-control" [(ngModel)]="selectedMonth" (click)="emitMonth(selectedMonth)">
        <option *ngFor="let month of months" [ngValue]="month">{{month.date | date: 'MMM y'}}</option>
    </select>
    &nbsp;
    <button class="btn btn-outline-dark btn-xs" (click)="openModal(template)">Ajouter un mois</button>
</div>

<template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Ajouter un Mois</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addMonthModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 ">
                <button class="btn btn-primary fill-space" (click)="addEmptyMonth()">Ajouter un mois vide</button>
            </div>
        </div>
        <div class="margin-20 text-center">
            <span>
                <h3>ou</h3>
            </span>
        </div>
        <div class="row">
            <span class="col-md-4 padding-right-0">Copier le mois de :</span>
            <div class="input-group col-md-8">
                <select class="form-control col-md-9 width-auto" [(ngModel)]="monthToCopy">
                    <option *ngFor="let month of months" [ngValue]="month">{{month.date | date: 'MMM y'}}</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-primary"
                            (click)="copyFromExistingMonth(monthToCopy)"
                            [disabled]="!monthToCopy">
                        Ajouter
                    </button>
                </span>
            </div>
        </div>
    </div>
</template>