<div>
    <div id="balance-table-container">
        <div class="col-md-12 text-center" *ngIf="date">
            <h1> {{date | date: 'MMMM y'}}</h1>
        </div>
        <table id="balance-table" class="table table-sm" *ngIf="rows.length > 0">
            <tbody>
            <tr *ngFor="let row of rows" [ngClass]="{'table-success': row.isPayed}">
                <td>
                    <button id="remove-row-button" type="button" class="close pull-left" (click)="remove(row)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    &nbsp;
                    <span>{{row.value}} €</span>
                </td>
                <td>{{row.label}}</td>
                <td>
                    <div class="pull-right">
                        <button *ngIf="!row.isPayed" class="btn btn-outline-success btn-sm" (click)="pay(row)">
                            Payer
                        </button>
                        <button id="cancel-payement-btn" *ngIf="row.isPayed" class="btn btn-warning btn-sm"
                                (click)="cancel(row)">
                            Annuler
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="add-row-container" class="col-md-12" *ngIf="date">
        <button id="add-row-button" type="button"
                class="btn btn-outline-dark btn-sm pull-right faa-parent animated-hover" (click)="openModal(template)">
            <i class="fa fa-plus faa-shake animated-hover" aria-label="true"></i>
        </button>
    </div>
    <div id="balance-container" class="text-center col-md-12" *ngIf="rows.length > 0">
        <h3>{{balance}} €</h3>
    </div>
</div>

<template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Ajouter une valeur a la liste</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newRowModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form novalidate [formGroup]="newRowForm">
            <input type="number" formControlName="value" class="form-control" placeholder="€€€">
            <input type="text" formControlName="label" class="form-control" placeholder="Libellé">
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="addToList()" [disabled]="!newRowForm.valid">Ajouter</button>
    </div>
</template>



