button{
    cursor: pointer;
}

#balance-table-container{
}

#balance-table{
    margin-bottom: 0;
    margin-top: 25px
}

#balance-container{
    margin: 25px
}

#add-row-container{
    margin: 10px
}

#add-row-button{
    border-radius: 20px;
}

#cancel-payement-btn{
    opacity: 0.5;
}

#remove-row-button{
    float: none;
}